.card-body {
    background: #c5c8cf;
    font-family: Arial, Helvetica, sans-serif
}

.card {
    border-radius: 13px;
    border: none
}

.card-heading {
    font-weight: bold;
    font-family: sans-serif;
}

.form-control {
    border: none;
    border-radius: 10px;
    background: rgba(165, 147, 69, 0.075)
}

.btn {
    border: 1px solid #2979FF;
    border-radius: 10px;
    width: 120px
}
.btn-space{
    margin-right: 15px;
}

.forgot {
    font: #00ACC1;
    font-weight: bold;
    color: #26C6DA;
    font-size: 15px;
    padding-left: 35px
}

.form-control {
    background-color: #eee !important
}

.form-control:focus {
    color: #495057;
    border-color: #fff !important;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25) !important
}

a {
    text-decoration: none !important
}

.navbar {
    border: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: unset;
    background-color: #efefef;
}

.navbar .nav-block {
    padding-left: 0;
}

.navbar .nav-block ul li a {
    cursor: pointer;
}

.navbar .user-block {
    text-align: right;
    padding-top: 3px;
}

.navbar .user-block span {
    line-height: 3;
    color: #a5a5a5;
}

.navbar .user-block span.usen-name {
    padding-right: 15px;
}

.navbar .user-block span.log-out {
    border-left: 1px solid #cecece;
    padding-left: 15px;
}

.navbar .user-block span.log-out a {
    cursor: pointer;
    color: #a5a5a5;
}

.navbar .user-block span.log-out a:hover {
    color: #333333;
}